@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@plugin 'flowbite/plugin';

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";
